body{
    margin: 0;
    max-width: 2600px;
}

/* container
=================== */

.container{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: column;
    background-image: url("https://www.tripsavvy.com/thmb/BmMHzVm0Gjorqfr767SS_1sLOVM=/3841x2161/smart/filters:no_upscale()/boy--hiker-looks-off-from-high-ridge-crest--mount-olympus--home-of-the-gods-of-ancient-greece-825555082-5b817ad746e0fb0025c8b8ac.jpg");
    background-size: cover;
}

.sidebar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: rgb(90, 90, 89);
    opacity: 0.6;
}

.sidebar img{
    width: 200px;
    margin-top: 3%;

}
#burger{
    display: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    color: white;
    list-style-type: none;
    margin-left: -15%;
}

.nav_link{
    margin-top: 2%;
    font-size: 25px;
    padding-right: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.nav_link:hover{
    color: rgb(27, 135, 197);
}
.main h1{
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
    color: white;
    text-decoration: none;
}

.main-sub{
    display: flex;
    justify-content: center;
}

.main-subtitle_1{
    width: 14%;
    height: 250px;
    margin-bottom: 10%;
    margin-right: 1%;
    background-color: white;
    border-radius: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0.5;
    color: rgb(38, 112, 173);
    font-size: 23px;
}
.main-subtitle_2{
    text-align: center;
    width: 14%;
    height: 250px;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 5%;
    justify-content: center;
    opacity: 0.5;
    display: flex;
    align-items: center;
    color: rgb(38, 112, 173);
    font-size: 23px;
}

.main-subtitle_3{
    text-align: center;
    margin-left: 1%;
    width: 14%;
    border-radius: 5%;
    height: 250px;
    margin-bottom: 10%;
    background-color: white;
    justify-content: center;
    opacity: 0.5;
    color: rgb(38, 112, 173);
    display: flex;
    align-items: center;
    font-size: 23px;
}

.main-subtitle_1:hover{
    background-color: rgb(116, 158, 212);
    opacity: 1;
    color: rgb(66, 66, 109);
}
.main-subtitle_2:hover{
    background-color: rgb(116, 158, 212);
    opacity: 1;
    color: rgb(66, 66, 109);
}
.main-subtitle_3:hover{
    background-color: rgb(116, 158, 212);
    opacity: 1;
    color: rgb(66, 66, 109);
}

.sponsors-in h1{
    text-align: center;
    padding-bottom: 7%;
    color: rgb(61, 161, 219);
    margin-left: 8%;
    margin-right: 8%;
    border-bottom: 2px solid black;
    margin-top: 6%;
}

.sponsors-in img{
    margin-top: 2%;
    width: 150px;
    height: 90px;
    margin-left: 5%;
    margin-bottom: 8%;
}

.sponsors-in p{
    text-align: center;
    font-size: 20px;
    margin-left: 8%;
    margin-top: -5%;
    padding-top: 3%;
    margin-right: 8%;
    border-top: 2px solid black;
}

.pictures-in{
    display: flex;
    margin-top: 4%;
    margin-left: 10%;
    justify-content: space-between;
    margin-right: 8%;
}


.picture_1 img{
    width:370px;
    height: 230px;
    border-radius: 7%;
    box-shadow: 0px 10px 15px rgb(117, 116, 116);

}

.information{
    margin-left: 6.8%;
    width:320px;
    height: 240px;
    border-radius: 7%;
    box-shadow: 10px -10px 15px rgb(117, 116, 116);
    margin-top: -8%;
}

.name_of_country{
    display: flex;
    justify-content: space-around;
}


.name_of_country h4{
    font-size: 20px;
}
.value{
    margin-top: 30%;
    display: flex;
    justify-content: space-around;

}
.value h4{
    font-size: 20px;
}
.value a{
    text-decoration: none;
    text-align: center;
    margin-top: 5%;
    padding-top: 5%;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(84, 158, 226);
    color: white;
}

.value a:hover{
    background-color: rgb(9, 18, 70);
}


.cards-in{
    margin-right: 3%;
    margin-top: 2%;
    margin-left: 3%;
    grid-gap: 1%;
    display: grid;
    grid-template-areas: 
    "aliquam aliquam tempus"
    "magna magna magna"
    "ipsum ipsum consequat"
    "etiam etiam etiam";
    margin-bottom: 10%;
}

.aliquam{
    box-shadow: 10px -10px 15px rgb(117, 116, 116);
    border-radius: 30px;
    height: 300px;
    grid-row: 1/2;
    grid-column: 1/3;
    background-image: url("https://lh6.googleusercontent.com/4FNvPCtwGSKRJwT-Dz8x8ZGTXEmo1WjmKUh7oIbmqyOcjDcGP-zNPWI2Y8LAQdNEGtJ6l1zUCeMXI4ax2ZB0qu-PCVVFzgFrFvImBxmdVR1-wmMnN-NG7MCcp8Euj_BVDOhJFLQM");
    background-size: cover;
}
.magna{
    border-radius: 30px;
    height: 300px;
    background-image: url('https://www.visitdubai.com/-/media/gathercontent/poi/b/burj-al-arab/fallback-image/burj-al-arab-dtcm-03.jpg?rev=6f23fe2f54564a72b4c860cbcbfa66b4&cx=0.5&cy=0.5&cw=397&ch=397');
    background-size: cover;
    grid-row: 2/3;
    grid-column: 1/2;
    background-size: cover;
    box-shadow: 10px -10px 15px rgb(117, 116, 116);
}
.ipsum{
    height: 300px;
    border-radius: 30px;
    background-image: url("https://www.investmentmonitor.ai/wp-content/uploads/sites/7/2022/02/berlin-germany-cities.jpg");
    background-size: cover;
    grid-row: 2/3;
    grid-column: 2/4;
    box-shadow: 10px -10px 15px rgb(117, 116, 116);
}
.consequat{
    background-image: url("https://static.dw.com/image/60764746_101.jpg");
    background-size: cover;
    grid-column: 1/3;
    height: 300px;
    border-radius: 30px;
    box-shadow: 10px -10px 15px rgb(117, 116, 116);
}

.tempus{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk4P-w3L4MNYvuQDGp7tDD0cVd_8oAdw3RHw&usqp=CAU");
    background-size: cover;
    height: 300px;
    border-radius: 30px;
    box-shadow: 10px -10px 15px rgb(117, 116, 116);
}

.etiam{
    background-image: url("https://kkhotels-ce53.kxcdn.com/wp-content/uploads/2020/01/Paris-City-Eiffeltower-View.jpg");
    background-size: cover;
    height: 300px;
    border-radius: 30px;
    box-shadow: 10px -10px 15px rgb(117, 116, 116);
}
@media (max-width:1250px){
    .pictures-in{
        display: flex;
        flex-direction: row;
        margin-left: 1%;
    }
}

@media (max-width:1100px){
    .main-subtitle_1{
        width: 24%;
        height: 250px;
        margin-bottom: 10%;
        margin-right: 1%;
        background-color: white;
        border-radius: 5%;
        justify-content: center;
        display: flex;
        align-items: center;
        opacity: 0.5;
        color: rgb(38, 112, 173);
        font-size: 23px;
    }
    .main-subtitle_2{
        text-align: center;
        width: 24%;
        height: 250px;
        margin-bottom: 10%;
        background-color: white;
        border-radius: 5%;
        justify-content: center;
        opacity: 0.5;
        display: flex;
        align-items: center;
        color: rgb(38, 112, 173);
        font-size: 23px;
    }
    
    .main-subtitle_3{
        text-align: center;
        margin-left: 1%;
        width: 24%;
        border-radius: 5%;
        height: 250px;
        margin-bottom: 10%;
        background-color: white;
        justify-content: center;
        opacity: 0.5;
        color: rgb(38, 112, 173);
        display: flex;
        align-items: center;
        font-size: 23px;
    }

    .pictures-in{
        display: flex;
        flex-direction: row;
    }
    .picture_1 img{
        width:270px;
        height: 230px;
        border-radius: 7%;
        box-shadow: 0px 10px 15px rgb(117, 116, 116);
    
    }
    
    .information{
        margin-left: 6.8%;
        width:220px;
        height: 240px;
        border-radius: 7%;
        box-shadow: 10px -10px 15px rgb(117, 116, 116);
        margin-top: -8%;
    }
    .sponsors-in img{
        margin-top: 2%;
        width: 150px;
        height: 90px;
        margin-left: 15%;
        margin-bottom: 8%;
    }
}


@media (max-width:920px){
    .pictures-in{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
    }
    .picture_1 img{
        width:370px;
        height: 230px;
        border-radius: 7%;
        box-shadow: 0px 10px 15px rgb(117, 116, 116);
    
    }
    
    .information{
        margin-left: 6.8%;
        width:320px;
        height: 240px;
        border-radius: 7%;
        box-shadow: 10px -10px 15px rgb(117, 116, 116);
        margin-top: -5%;
    }
    
}

@media (max-width:550px){
    .main-sub{
        display: flex;
        flex-direction: column;
    }
    .main-subtitle_1{
        text-align: center;
        width: 34%;
        height: 250px;
        margin-bottom: 10%;
        margin-right: 1%;
        background-color: white;
        border-radius: 5%;
        justify-content: center;
        display: flex;
        align-items: center;
        opacity: 0.5;
        color: rgb(38, 112, 173);
        font-size: 23px;
        margin-left: 33%;
    }
    .main-subtitle_2{
        text-align: center;
        width: 34%;
        height: 250px;
        margin-bottom: 10%;
        background-color: white;
        border-radius: 5%;
        justify-content: center;
        opacity: 0.5;
        display: flex;
        align-items: center;
        color: rgb(38, 112, 173);
        font-size: 23px;
        margin-left: 33%;
    }
    
    .main-subtitle_3{
        text-align: center;
        margin-left: 1%;
        width: 34%;
        border-radius: 5%;
        height: 250px;
        margin-bottom: 10%;
        background-color: white;
        justify-content: center;
        opacity: 0.5;
        color: rgb(38, 112, 173);
        display: flex;
        align-items: center;
        font-size: 23px;
        margin-left: 33%;
    }

    .pictures-in{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
    }
}

@media (max-width:500px){
    .sponsors-in{
        text-align: center;
        margin-left: -10%;
    }
    .pictures-in{
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }
    .picture_1 img{
        width:90%;
        height: 230px;
        border-radius: 7%;
        box-shadow: 0px 10px 15px rgb(117, 116, 116);
    
    }
    
    .information{
        margin-left: 6.8%;
        width:80%;
        height: 240px;
        border-radius: 7%;
        box-shadow: 10px -10px 15px rgb(117, 116, 116);
        margin-top: -5%;
    }
    #burger, [for=burger]{
        display: none;
    }
    
     
        [for=burger]{
            display: block;
            width: 30px;
            text-align: center;
            right: 100px;
            top: 10px;
            margin-top: 1.3%;
        }
        [for=burger]::before{
            content: 'MENU';
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            color: blanchedalmond;
        }
        nav{
            margin-top: 10%;
            display: none;
            position: fixed;
            list-style-type: none;
            top: 0;
            background: rgba(0, 0, 0, 0.692);
            width: 100%;
            height: 100%;
            user-select: none;
            padding-left: 50%;

        }
        nav ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        #burger:checked + label + nav{
            display: block;
            animation: show .5s ease;
        }
        #burger:checked +[for=burger]::before{
            content: 'CLOSE';
            position: fixed;
        }
        .nav_link{
            text-align: center;
            text-decoration: none;
            color: white;
            font-weight: 50px;
            font-size: 40px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: 4%;
        }
    
    
    @keyframes show {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}

